# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.dll
*.dylib

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# OS specific
.DS_Store
Thumbs.db

# Ignore PNG image files
*.png
*.PNG
